@import url("https://fonts.googleapis.com/css?family=Open+Sans");
 html {
	 font-family: Arial;
	 font-size: 16px;
	 background: #5e42a6;
}
 .sidebar {
	 position: fixed;
	 width: 25%;
	 height: 100vh;
	 background: #312450;
	 font-size: 0.65em;
}
 .nav {
	 position: relative;
	 margin: 0 15%;
	 text-align: right;
	 top: 50%;
	 transform: translateY(-50%);
	 font-weight: bold;
}
 .nav ul {
	 list-style: none;
}
 .nav ul li {
	 position: relative;
	 margin: 3.2em 0;
}
 .nav ul li a {
	 line-height: 5em;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.4em;
	 color: rgba(255, 255, 255, 0.35);
	 display: block;
	 transition: all ease-out 300ms;
}
 .nav ul li.active a {
	 color: white;
}
 .nav ul li:not(.active)::after {
	 opacity: 0.2;
}
 .nav ul li:not(.active):hover a {
	 color: rgba(255, 255, 255, 0.75);
}
 .nav ul li::after {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 0.2em;
	 background: black;
	 left: 0;
	 bottom: 0;
	 background-image: linear-gradient(to right, #5e42a6, #b74e91);
}
 .main_body {
	 position: relative;
	 width: 75%;
	 float: right;
	 height: 100vh;
}
 .main_body .container {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
}
  .main_body  a {
	 position: relative;
}
 
  .main_body p {
	 text-transform: uppercase;
	 font-size: 1em;
	 letter-spacing: 0.1em;
	 color: #fff;
	 font-weight: bold;
	 margin-top: 20px;
}

 .button{
     background-color:rgb(45,45,45);
     border:none;
     color:white;
    
     text-align:center;
     text-decoration:none;
     font-size:12px;

 }

/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 100vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: #e74848;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}

.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #5e42a6;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

 
.blockquote h4:first-letter {
  margin-left:-12px;
}
