<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 


    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
  
    
    <title>Jobs</title>
  </head>
  <body>
    
<div id="mainContentArea">
	<div id="contentBox">
        <div id="title">jobs</div>
        
        <div id="linkGroup">
            <div class="link"><a href="./">Home</a></div>
            <div class="link"><a href="./">About</a></div>
            <div class="link"><a href="./">Portfolio</a></div>
            <div class="link"><a href="./">lyrics</a></div>
           
        </div>
        <div id="blueBox"> 
          <div id="header"></div>
          {% block body %}


	  <h1>{quote}</h1>

	  
	  
          {% endblock %} 
        

           
            <div id="footer"><a href="http://www.aszx.net">web development</a> by <a href="http://www.bryantsmith.com">bryant smith</a></div>
        </div>
	</div>
</div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

</html>
