<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 


    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
  
    
    <title>Jobs</title>
  </head>
  <body>
  <main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Get In Touch</a></li>
      </ul>
    </nav>
  </aside>

  <section class="twitter">
    <div class="container">
      {% block body %}
      <p id="quote">{{quote}}</p>
      <address id="author">{{author}}</address>
      <a href="./jobs">{{count}} jobs available</a>
      {% endblock %}
    </div>
  </section>
</main>
    

  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

</html>
