{% extends "index.html" %}
{% block body%}
{% if title%}
{% if prev%}

<a  class= "btn btn-primary"  href="./{{prev}}">PREVIOUS</a>
{% endif %}

    <a class= "btn btn-primary"  href="./">ALL</a>
    {% if prev%}
    <a class= "btn btn-primary" href="./{{nxt}}">NEXT</a>
    {% endif%}
    
    <h3>{{company}}</h3>
    <h4 class="text-muted">{{title}}</h4>
    <span class="badge bg-{{cls}}">{{status}}</span>
    <small class="text-muted">({{crawled_on}})</small>

<p>{{info}}</p>
<p>
  <a class="btn btn-primary" href="{{url_for('jobs.edit_job', jid=jid)}}">Edit this job</a>
</p><p>
  

{% else %}
<h1> Sorry,that's not a valid job id.</h1>
<p> How about going <a href="{{url_for('jobs.alljobs')}}">back</a>
</p>

{% endif %}
    {% endblock%}
